html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #8AD4FF;
  background-image: url("CM Dirt.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
